# Data
data/*
!data/.gitkeep

# Python
__pycache__/
*.py[cod]
.env
.venv
venv/
.safety-project.ini

# Node
node_modules/
.nuxt/
.output/
dist/
*.pnpm-store/
frontend/app/coverage/

# IDE
*.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Mac specific files
*.DS_Store
